.navbar-ul{
    background-color: rgb(39, 38, 38);
    color: aliceblue;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    
}
.navbar-ul li{
    list-style: none;
    margin-right: 15px;
}
.pp{
cursor:auto;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.Navbar{
    width: 100vw;
    height: 14vh;
}
.nav-link
{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
@media(max-width:680px)
{
    .Navbar{
        width: 100vw;
        border: 2px solid black;
        height: 8vh;
        font-size: 18px;
    }
    .nav-link
{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
}